$footer_height: 140px

html
  height: 100%

body
  position: relative
  height: 100%

#wrap
  min-height: 100%

#main
  overflow: auto
  //* this needs to be bigger than footer height*/
  padding-bottom: $footer_height

#header
  .container
    position: relative

#footer
  position: relative
  //* negative value of footer height */
  margin-top: -$footer_height
  height: $footer_height
  clear: both
  padding-top: 20px
  color: darken(white, 10%)
  background-color: #333

#edit_link
  position: absolute
  margin-left: 5px
  margin-top: 5px