!!!
%html
  %head
    %title= @title || current_site.domain
    %meta{name: 'description', content: @meta_description}
    %meta{name: 'keywords', content: @meta_keywords}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => @body_class}
    - if current_admin_user && @editable && @page
      #edit_link
        = link_to 'Edit Page', "/editor/" + @page.page_url, data: {save_url: mercury_page_update_path(@page.page_url)}

    %header= raw current_site.header
    .main= yield
    %footer= raw current_site.footer
