!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= @title || current_site.domain
    %meta{name: 'description', content: @meta_description}
    %meta{name: 'keywords', content: @meta_keywords}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
    - if current_admin_user && @editable && @page
      #edit_link
        = link_to 'Edit Page', "/editor/" + @page.page_url, data: {save_url: mercury_page_update_path(@page.page_url)}
    #wrap
      %header#header
        .container= raw current_site.header
      #main.container
        #flash= bootstrap_flash
        = yield
    
    %footer#footer
      .container= raw current_site.footer
